.registerPageWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100svh;
}

.middleWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #adadca90;
  padding: 20svh 20vw;
  border-radius: 30px;
}
.inputWrapper {
  border: solid #212427 1px;
  color: #212427;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  border-radius: 8px;
  margin: 5px;
}
.inputWrapper input {
  color: #212427;
  margin-left: 10px;
  background: transparent;
  border: none;
}
.inputWrapper input::placeholder {
  color: #484848;
}
.middleWrapper button,
.registerModal button {
  padding: 10px 20px;
  cursor: pointer;
  background: transparent;
  border: solid #212427 1px;
  border-radius: 5px;
  margin: 20px 0;
  transition: 0.3s;
  color: #212427;
}
.middleWrapper button:hover,
.registerModal button:hover {
  background: #212427;
  color: #f8f8ff;
}
.selectedImage {
  width: 120px;
  object-fit: cover;
  border: solid #212427 1px;
  height: 120px;
  border-radius: 50%;
}
.noImage {
  cursor: pointer;
  border: solid #212427 1px;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.imageDiv {
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.imageDiv span {
  margin: 10px 0 20px 0;
}
.registerModal {
  flex-direction: column;
  height: 50svh;
  width: 80vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff99;
  border-radius: 20px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .registerModal {
    width: 50vw;
  }
}
.signUpText {
  margin-top: 10px;
  text-align: center;
  color: #212427;
}
.signUpText a {
  text-decoration: none;
  color: #f8f8ff;
  font-weight: bold;
}
